
.DS_Store
/backend/parser/credentials.py
/backend/env/
/chrome/node_modules
/chrome/build
/chrome/secrets.*.js
/chrome/yarn.lock
/backend/.vscode/
backend/parser/__init__.py
__pycache__
/backend/migrations
/backend/__pycache__/
/backend/twitter/credentials.py
