#Flask
click==7.1.2
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==1.0.1

# db
SQLAlchemy
Flask-SQLAlchemy
Flask-Migrate
Flask_Script
psycopg2
SQLAlchemy-serializer

# ml
numpy
torch
transformers==3.0.1

# Selenium
bs4
goose3
selenium
webdriver-manager
